[Unit]
Description=Checks for and applies VPS Control updates every day

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
